.cat {
	max-width: 50rem;
	margin: 2rem auto;
	text-align: center;
}

.cat img {
	width: 30rem;
	border-radius: 4px;
}

.actions {
	display: flex;
	gap: 1rem;
	justify-content: center;
	align-items: center;
	padding: 0;
}

.actions a,
.actions button {
	padding: 0.25rem 1rem;
	text-decoration: none;
	font: inherit;
	cursor: pointer;
}

.actions button {
	background-color: transparent;
	border: none;
	color: var(--color-primary-800);
}

.icon {
	position: absolute;
	color: var(--color-primary-800);
	z-index: 0;	
	height: 2.6em !important;
	width: 2.6em !important;
}

.iconButton:active {
	transform: scale(1.5);
}

.likes {
	color: var(--color-gray-800);
	align-items: center;
	font-size: 0.8em;
	z-index: 1;
	transform: translate(0px, 14px);
}